body {
  background-color: rgb(196, 90, 90) !important;
}
.navbar-light .navbar-brand {
  font-size: 2em !important;
  color: #fff !important;
  text-decoration: none;
  font-weight: 500;
}
.navbar-brand {
  font-size: 2rem !important;
  width: 20%;
}
.navbar-brand .brand-white {
  color: #c4c4c4;
}

.head form,
button {
  height: 100%;
}
.text-user {
  margin: 0 0 0 3px;
  color: #f7f7f7;
}

.text-user .first-name {
  line-height: 0 !important;
  font-size: 1.25rem;
}
.text-user .last-name {
  line-height: 0 !important;
  font-size: 0.9rem;
}
.nav .nav-link {
  display: inline-flex;
  font-size: 1.25rem;
  color: #f7f7f7;
  padding: 10px 10px 10px 0 !important;
}

.nav .nav-link:hover {
  color: #c4c4c4;
}

.content-header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  color: #c4c4c4;
  font-weight: 500;
}
.content-header .title-content-header {
  width: 50%;
  font-size: 2rem;
}
.content-header .view-all-header {
  width: 50%;
  font-size: 1rem;
}

.content-header .view-all-header a {
  color: #c4c4c4;
  text-decoration: none;
}

.content-side-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #c4c4c4;
  font-weight: 500;
  border-bottom: 3px solid #c4c4c4;
}
.content-side-header .title {
  font-size: 1.5rem;
}

.content-side-header .text-all {
  font-size: 1rem;
  cursor: pointer;
}

.card-img-sm-left {
  border-radius: 0;
  width: 20%;
  height: auto;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: relative;
  top: 0;
  left: 0;
}

.content-body {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2vmin;
}

.content-body > .frame-img {
  position: relative;
  width: auto;
  height: 180px;
  overflow: hidden;
}

.content-body > .frame-img:nth-child(1) {
  position: relative;
  background-color: #c4c4c4;
  border: 1px solid #570808;
  height: inherit;
  max-height: 415px;
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.content-body > .frame-img > img {
  position: relative;
  max-width: 100%;
}

.grid-item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

input[type='file'] {
  outline: 0;
  opacity: 0;
  width: 0;
  pointer-events: none;
  user-select: none;
}

.upload_foto {
  width: 100%;
  height: 180px;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
}

.upload_foto i {
  display: block;
  font-size: 48px;
  padding-bottom: 16px;
}

.upload_foto .title {
  font-size: 1.25rem;
  text-align: left;
}

.upload_foto > i,
.title {
  color: #c4c4c4;
  padding: 7px;
}

.card-activity {
  background-color: transparent !important;
  border: 2px solid transparent !important;
  padding: 2px;
  height: 85px;
}

.card-body-activity {
  padding: 0 1rem !important;
}

.card-activity:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  background-image: linear-gradient(50deg, transparent 50%, #c4c4c4 50%);
  height: 30px;
}

.card-activity .button-delete {
  position: absolute;
  display: none;
  cursor: pointer;
  color: #610303;
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  right: 0;
  z-index: 100;
}

.card-activity:hover .button-delete {
  display: block;
}

.card-activity:hover {
  border: 2px solid #c4c4c4 !important;
}

.card-body-activity > .card-name {
  display: flex;
  justify-content: space-between;
}
.card-body-activity > .status {
  font-size: 0.75rem !important;
}

.card-body-activity > .card-text-momen {
  font-size: 0.75rem !important;
}

.channel-card {
  position: relative;
  width: 100%;
  height: auto;
  border: 2px solid transparent;
}

.channel-card > img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.channel-card .channel-card-body {
  position: absolute;
  bottom: 0;
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: bold;
  color: #610303;
}

.channel-card:hover {
  border: 2px solid #c4c4c4;
}

.channel-card:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  background-image: linear-gradient(50deg, transparent 50%, #570808 50%);
  height: 30px;
}

.channel-card .button-delete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: none;
  color: #fff;
  cursor: pointer;
  border: none;
  z-index: 100;
}

.channel-card:hover .button-delete {
  display: block;
}

.nav-mobile {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  margin-right: 20px;
}

.nav-mobile .nav {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;

  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

a.nav-link::after {
  content: '/';
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  top: 0;
  bottom: 0;
}

.nav-item:last-child a.nav-link::after {
  content: '';
}

.copy {
  color: #f7f7f7;
  font-size: 1rem;
}

.copy-right .nav-link {
  font-size: 1rem;
}

hr {
  color: #c4c4c4 !important;
  background-color: #c4c4c4 !important;
  border: 1px solid #c4c4c4 !important;
  opacity: 1 !important;
}

.social-media {
  display: inline-flex;
  width: 100%;
  margin: 0;
  border-top: 2px solid #c4c4c4;
}

.social-media .box-icon {
  width: 50px;
  height: 50px;
  background-color: #c4c4c4;
  margin: 30px 10px 10px 0;
}

.social-media .box-icon a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 480px) {
  .content-body > .frame-img {
    height: 100px;
  }

  .upload_foto {
    height: 100px;
  }

  .upload_foto i {
    font-size: 2rem;
  }

  .upload_foto .title {
    font-size: 1rem;
  }

  .head .col-md-7 {
    margin-bottom: 1rem;
  }
  .head .col-md-2 {
    margin-bottom: 1rem;
  }
}
